<section class="section-contact mt-4">
    <div class="container">
        <ul class="breadcrumb">
            <li class="home">
                <a href="/"><span>Trang chủ</span></a>
                <span class="mr_lr">&nbsp;<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>&nbsp;</span>
            </li>
            <li><strong><span>Liên hệ</span></strong></li>
        </ul>
    </div>
    <div class="layout-contact">
        <div class="container">
            <div class="row row-fix">
                <div class="col-lg-6 col-12 col-fix">
                    <div class="contact block-background">
                        <h4>Cửa hàng Gear Fiver</h4>
                        <p class="content">
                            Fiver cam kết đẩy mạnh dịch vụ chăm sóc khách hàng đồng thời đưa đến tay khách hàng cuối cùng giá sản phẩm là tốt nhất, Hiện đại hoá doanh nghiệp theo hướng 4.0. Cam kết không xảy ra việc thuốc hay dụ khách hàng mua sản phẩm đắt đỏ hơn giá thị trường.
                        </p>
                        <div class="info-contact">
                            <div class="group-address">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fa-solid fa-location-dot"></i>
                                        </div>
                                        <div class="info">
                                            <b>Địa chỉ</b>
                                            <span>
                                                70 Lữ Gia, Phường 15, Quận 11, TP.HCM
                                            </span>
                                        </div>
                                    </li>
                                    <div class="icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <div class="info">
                                        <b>Thời gian làm việc</b>
                                        <span>
                                            8h - 22h
                                            <br />
                                            Từ thứ 2 đến chủ nhật
                                        </span>
                                    </div>
                                    <li>
                                        <div class="icon">
                                            <i class="fa-solid fa-phone"></i>
                                        </div>
                                        <div class="info">
                                            <b>Hotline</b>
                                            <span>
                                                <a title="0123456789" href="tel:0123456789">0123456789</a>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fa-solid fa-envelope"></i>
                                        </div>
                                        <div class="info">
                                            <b>Email</b>
                                            <span>
                                                support@gmail.com
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 col-fix"></div>
                <div class="col-12 col-fix"></div>
            </div>
        </div>
    </div>
</section>